/* General */
.padding_top_80 {
  padding-top: 80px;
}

.padding_bottom_80 {
  padding-bottom: 80px;
}

.text_transform{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

/* .wrapper_60 {
  width: 60%;
  margin: 0 auto; */

/* Header */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  z-index: 20;
  background-color: #2C3E50;
}

.logo{
  font-size: 23px;
  vertical-align: middle;
  line-height: 20px;
  text-decoration: none;
}

a.logo:hover,
a.logo:active,
a.logo:focus{
  text-decoration: none;
  color: white;
}


/* Button green */
.bg_green {
  background-color: #1ABC9C;
}
.btn_green {
  background-color: #158F77;
  /* color: white;
  text-transform: uppercase;
  font-weight: bold; */
}
.btn_green .glyphicon{
  vertical-align: text-top;
}

/* Menu-Header */
.menu_header li {
  display: inline-block;

}

.menu_header li a{
  list-style: none;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 15px;
  text-decoration: none;
}

a.menu_item:hover,
a.menu_item:active,
a.menu_item:focus{
  color: #1ABC9C;
}

/* Jumbotron */
.jumbo{
  margin-top: 80px;
  padding: 80px 0;
  /* height: 600px; */
}

.jumbo_image{
  width: 50%;
  margin: 0 auto;
}

.jumbo_image img{
  width: 250px;
}

.jumbo_text h1{
  padding-top: 20px;
  text-align: center;
  font-size: 45px;
}

.jumbo_text{
  width: 95%;
  margin: 0 auto;
}

/* Star-icon */

.star_icon{
  /* padding: 15px 100px; */
  text-align:center;
}
.star_icon div{
  display: inline-block;
}

.white_star{
  vertical-align: middle;
  font-size: 40px;
  color: white;
  padding: 20px 5px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.divider{
  margin-top:5px;
  margin-bottom:5px;
  height:5px;
  /* width: 30%; */
  width: 150px;
  border-top: 4px solid white;
  border-radius: 2px;
}

.star_icon p{
  /* padding-top: 20px; */
  font-size: 20px;
  color: white;
}


/* Main column */
.color_blue{
  color: #2C3E50;
}
/* Portfolio */

.icon_box{
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  background-color: violet;
  border-radius: 3%;
  padding: 0 10px;
}

.img-cabin{
  /* max-width: 100%;
  height: auto; */
  vertical-align: middle;
}

/* Footer */
.footer_top {
  background-color: blue;
}
.footer_bottom {
  padding: 20px 0;
  background-color: darkblue;
}

/* Media Query */

@media screen and (max-width: 768px) {
  .wrapper_xs_100 {
    width: 100%;
    margin: 0 auto;
  }
  .divider{
    width: 80px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper_md_60 {
    width: 60%;
    margin: 0 auto;
  }
}



@media screen and (max-width: 768px){

}



@media screen and (max-width: 992px) and (min-width: 768px){

}
@media screen and (min-width: 992px){

  .jumbo_text h1{
    font-size: 62px;
  }
  .logo{
    font-size: 26px;
  }
  .star_icon p{
    font-size: 26px;
  }

}
